{
    "root": true,
    "env": {
        "node": true,
        "browser": true
    },
    "extends": [
        "@nuxt/eslint-config"
    ],
    "rules": {
        "semi": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "brace-style": [
            "error",
            "1tbs"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-trailing-spaces": "error",
        "padded-blocks": [
            "error",
            {
                "classes": "never"
            }
        ],
        "vue/html-indent": [
            "error",
            4
        ],
        "vue/no-multiple-template-root": "off",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "CallExpression[arguments.length=1] > MemberExpression.callee > Identifier.property[name='reduce']",
                "message": "Provide initialValue to .reduce()."
            }
        ]
    }
}
